on init	
    # Less throttling, more experience (CPU)
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "helix_schedutil"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    write /sys/kernel/AiO_HotPlug/toggle 1
	
    # Less throttling, more experience (GPU)
    # Adreno Idler
    write /sys/module/adreno_idler/parameters/adreno_idler_active 0
    write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential 10
    write /sys/module/adreno_idler/parameters/adreno_idler_idlewait 30
    write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload 2000
	
    #GPU
    write /sys/class/devfreq/1c00000.qcom,kgsl-3d0/max_freq 650000000
	
on fs
    mount_all ./fstab.qcom --early

    # boot time fs tune
    write /sys/block/mmcblk1/queue/iostats 0
    write /sys/block/mmcblk1/queue/iosched/slice_idle 0
    write /sys/block/mmcblk1/queue/read_ahead_kb 2048
    write /sys/block/mmcblk1/queue/nr_requests 256
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/nr_requests 256
    write /sys/block/mmcblk0/queue/scheduler "fiops"
    write /sys/block/mmcblk1/queue/scheduler "fiops"

on property:sys.boot_completed=1
    write /sys/kernel/AiO_HotPlug/toggle 1

    # Set default profile on first boot
    exec u:r:init:s0 root root -- /init.fate.sh
    exec u:r:su:s0 root root -- /init.fate.sh

# Run post-boot script after Qualcomm's post_boot shell script
on property:init.svc.qcom-post-boot=stopped
    write /sys/devices/platform/kcal_ctrl.0/kcal "192 192 192"
    write /sys/kernel/sound_control/headphone_gain "0 0"
    write /sys/kernel/sound_control/speaker_gain "0"

# VM
    write /proc/sys/vm/dirty_ratio "90"
    write /proc/sys/vm/dirty_background_ratio "20"
    write /proc/sys/vm/swappiness "100"
    write /proc/sys/vm/overcommit_ratio "60"

# FP_BOOST
    write /sys/kernel/fp_boost/enabled 1
	
#FS
    write /sys/block/mmcblk1/queue/read_ahead_kb 768
    write /sys/block/mmcblk0/queue/read_ahead_kb 768

#FC
    write /sys/kernel/fast_charge/force_fast_charge 0

#LMK
    chmod 666 /sys/module/lowmemorykiller/parameters/minfree
    chown root /sys/module/lowmemorykiller/parameters/minfree
    write /sys/module/lowmemorykiller/parameters/minfree "14540,21810,29080,36350,43620,50890"

#MI
    write /sys/kernel/power_suspend/power_suspend_mode 1
    sysctl -w net.ipv4.tcp_congestion_control=sociopath

#TH
    write /sys/module/msm_thermal/parameters/enabled 0

#KSM
    write /sys/kernel/mm/ksm/run 0
